@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    color: #212529;
}

.d-flex {
    display: flex !important;
}

h1, p{
    margin: 5px 0;
}

#wrapper{
    gap: 20px;
    overflow-x: hidden;
}

body{
    display: block;
    background-color: #ecf4f9;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

#sidebar-wrapper {
    min-height: 100vh;
    border: black 2px solid;
    border-radius: 0px 20px 20px 0px;
    position: relative;
}

.bg-white {
    background-color: #21EDC5;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

.list-group-flush {
    border-radius: 0;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}


#profile-pic {
    border-radius: 50%;
    border-color: black;
    border: 1px solid;
    width: 100px;
    height: 100px;
}

#perfil-infos {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#profile-name {
    font-weight: bolder;
    font-size: 24px;
}

.list-group-item {
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 200ms;
}

#sair {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0px 0px 20px 0px;
}

.items-dashboard {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.menu-images {
    margin-right: 10px;
}

.menu-items {
    font-weight: bolder;
    font-size: 22px;
}

a {
    color: black;
    text-decoration: none;
}

.list-group-item:hover{
    background-color: rgba(0, 0, 0, .25);
}

#sair:hover {
    cursor: pointer;
}

.page-content-wrapper {
    width: 66.6%;
}

.page-content-wrapper > p,
#friends-container > p{
    font-weight: 400;
}

#wrapper > div{
    padding-top: 20px;
}

.g-5, .gx-5 {
    --bs-gutter-x: 3rem;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col {
    background-color: #ecf4f9;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0, .1);
    margin: 10px;
    flex: 1 0 0%;
    transition: background-color 200ms;
}

.col {
    flex: 1 0 0%;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.p-3 {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px;
    height: 150px;
    transition: all 200ms;
}

.p-3 p {
    margin: 0;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: unset;
    display: block;
}

a:hover {
    --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

.page-content-wrapper {
    align-content: center;
    align-items: center;
    max-width: 100%;
}

.container-fluid {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    margin: 20px 0px;
}

.buttons-dashboard {
    display: flex;
}

.col:hover{
    cursor: pointer;
    color: #000000;
    border-color: #21EDC5;
    background-color: rgba(33, 237, 197, .1);
}

.col svg{
    transition: all 200ms;
}

.col:hover svg{
    fill: #21EDC5;
    transform: translateY(-7px);
    filter: drop-shadow(rgba(0, 0, 0, .45) 0px 25px 20px);
}

.hidden{
    display: none;
}

#theme-changer svg{
    fill: #22262a;
    margin-left: 7px;
    margin-top: 10px;
}

.dark-theme {
    position: relative;
    display: block;
    white-space: nowrap;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.bg-white #theme-changer {
    position: relative;
    display: flex;
    text-decoration: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}