@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    color: var(--text);
}
.d-flex {
    display: flex !important;
}

h1, p{
    margin: 5px 0;
    color: var(--text);
}

#wrapper{
    gap: 20px;
    width: 100%;
    overflow-x: hidden;
}

#alinhado {
    display: flex;
}

#alinhado:hover {
    cursor: pointer;
}

#alinhado2 {
    margin-left: 3px;
}

body{
    display: block;
    background-color: var(--background);
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

#sidebar-wrapper {
    min-height: 100vh;
    border-radius: 0px 20px 20px 0px;
    position: relative;
}

.bg-white {
    background-color: var(--primary);
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

.list-group-flush {
    border-radius: 0;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}


#profile-pic {
    border-radius: 50%;
    border-color: var(--secondary);
    border: 1px solid;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#perfil-infos {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#profile-name {
    font-weight: bolder;
    font-size: 24px;
}

.list-group-item {
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 200ms;
}

#sair {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0px 0px 20px 0px;
}

.items-dashboard {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.menu-images {
    margin-right: 10px;
    margin-left: -5px;
}

.menu-items {
    font-weight: bolder;
    font-size: 22px;
}

a {
    text-decoration: none;
}

.list-group-item:hover{
    background-color: rgba(0, 0, 0, .25);
}

#sair:hover {
    cursor: pointer;
}

.page-content-wrapper {
    width: 66.6%;
}

.page-content-wrapper > p,
#friends-container > p{
    font-weight: 400;
}

#wrapper > div{
    padding-top: 105px;
}

.g-5, .gx-5 {
    --bs-gutter-x: 3rem;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col {
    background-color: var(--background);
    border-radius: 8px;
    border: 1px solid var(--secondary);
    margin: 10px;
    flex: 1 0 0%;
    transition: background-color 200ms;
}

.img-avatar{
    position: relative;
    width: 200px;
    height: 200px;
}

.img-avatar input{
    position: absolute;
    color: transparent;
    opacity: 0;
    background-color: none;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 999;
}

.img-avatar input:hover{
    cursor: pointer;
}

.img-avatar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    color: #d5d9dd;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    transition: all 300ms;
    z-index: 1;
}

.img-avatar:hover:after{
    cursor: pointer;
    content: 'Editar';
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d5d9dd;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
    border-radius: 50%;
}


.col:hover{
    cursor: auto;
}

.col {
    flex: 1 0 0%;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.p-3 {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px;
    height: 150px;
    transition: all 200ms;
}

.p-3 p {
    margin-top: 43px;
    font-size: 1.2em;
    color: var(--text);
}

a {
    text-decoration: none;
    color: unset;
    display: block;
}

a:hover {
    --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

.page-content-wrapper {
    align-content: center;
    align-items: center;
    max-width: 100%;
}

.container-fluid {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    margin: 20px 0px;
}

.buttons-dashboard {
    display: flex;
}

.col:hover{
    color: var(--text);
    background-color: var(--primary);
}

.col:hover p{
    color: var(--background);
}

.col svg{
    transition: all 200ms;
    fill: var(--text);
}

.col:hover svg{
    fill: var(--primary);
    transform: translateY(-7px);
    filter: drop-shadow(rgba(0, 0, 0, .45) 0px 25px 20px);
}

.hidden{
    display: none;
}

#theme-changer svg{
    fill: #22262a;
    margin-left: 3px;
    margin-top: 5px;
}

.dark-theme {
    position: relative;
    display: block;
    white-space: nowrap;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin: 5px 0px;
}

.bg-white #theme-changer {
    position: relative;
    display: flex;
    text-decoration: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.fixed-button-container {
    position: fixed;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 999; 
}

.fixed-button {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 5px 7px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
}

.fixed-button:hover {
    cursor: pointer;
}

#botaofalar {
    background-color: #007bff;
    margin-top: 7px;
}

#botaofalar.mudarCor {
    background-color: #ff9eda;
}

.nome-imagem {
    display: flex;
}

.user-name {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 22px;
}

.background {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#wrapper {
    padding: 0px 50px;
}

.user-description {
    font-size: 18px;
}

.responder-button {
    border: 1px solid black;
    font-size: 1em;
    margin-top: 1.5em;
    font-weight: bold;
    background-color: #21EDC5;
    color: #000;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    box-shadow: rgba(33, 237, 197, 0) 0px 7px 29px 0px;
    transition: box-shadow 200ms ease;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.btn-cancel {
    background-color: var(--secondary);
    color: var(--text);
    font-family: 'Inter', sans-serif;
    transition: all 400ms;
}

.btn-cancel:hover{
    background-color: var(--primary);
    color: var(--background);
}

.video {
    border-radius: 100px;
}

.thumbnail-video {
    border-color: 5px, black;
}

.thumbnail-video{
    object-fit: cover;
    height: 135%;
    width: 100%;
    object-position: 50% -42px;
}

.video {
    background-color: var(--background);
    width: 35%;
    border-radius: 10px;
    border: 2px solid var(--secondary);
    overflow: hidden;
    aspect-ratio: 16 / 9;
    /* flex: 1 1 auto; */
}

.video-title-box {
    font-size: 25px;
    padding-top: 90px;
}

#allvideos .col {
    display: flex;
    gap: 30px;
}

.nome-desc {
    display: flex;
    padding-top: 40px;
}

.user-name {
    padding-top: 10px;
}

.user-description {
    display: block;
    padding-left: 20px;
    padding-top: 50px;
}