@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif!important;
  }
  label {
    font-family: 'Inter', sans-serif!important;
  }
  h1{
    font-weight: 600;
  }
  body {
    height: 100vh;
    background: var(--background);
  }
  .start-screen,
  .score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  #start-button,
  #restart {
    font-size: 1.3em;
    padding: 0.5em 1.8em;
    border-radius: 0.2em;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  }
  #restart {
    margin-top: 0.9em;
  }
  #display-container {
    width: 80%;
    max-width: 37.5em;
    margin: 2em auto;
    border-radius: 15px;
  }
  .header {
    margin-bottom: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid var(--background);
  }
  .timer-div {
    background-color: var(--secondary);
    width: 7.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.8em;
    border: 1px solid black;
    display: none;
  }
  .question {
    margin-bottom: 1.25em;
    font-weight: 600;
    text-align: justify;
  }
  .option-div {
    font-size: 0.9em;
    width: 100%;
    padding: 1em;
    margin: 0.3em 0;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px solid var(--background);
    border-radius: 0.3em;
  }
  .option-div:disabled {
    border-color: var(--placeholder);
    color: var(--placeholder);
    cursor: not-allowed;
  }
  #next-button {
    border: 1px solid black;
    font-size: 1em;
    margin-top: 1.5em;
    font-weight: bold;
    background-color: #21EDC5;
    color: #000;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
    box-shadow: rgba(33, 237, 197, 0) 0px 7px 29px 0px;
    transition: box-shadow 200ms ease;
  }
  #next-button:disabled{
    background-color: rgba(0, 0, 0, 0.1);
  }
  #responder-button{
    border: 1px solid black;
    font-size: 1em;
    margin-top: 1.5em;
    font-weight: bold;
    background-color: #21EDC5;
    color: #000;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: left;
    box-shadow: rgba(33, 237, 197, 0) 0px 7px 29px 0px;
    transition: box-shadow 200ms ease;
  }
  #next-button:disabled{
    box-shadow: none!important;
    cursor: not-allowed;
  }

  #next-button:hover,
  .responder-button:hover{
    box-shadow: rgba(33, 237, 197, .75) 0px 7px 29px 0px;
  }
  #next-button:disabled{
    background-color: rgba(0, 0, 0, 0.1);
  }
  .responder-button{
    font-size: 1em;
    margin-top: 1.5em;
    font-weight: bold;
    background-color: var(--primary);
    color: #22262a;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    box-shadow: rgba(33, 237, 197, 0) 0px 7px 29px 0px;
    transition: box-shadow 200ms ease;
  }
  #next-button:disabled{
    box-shadow: none!important;
    background-color: var(--disabled);
    cursor: not-allowed;
  }
  .filtro-container{
    background-color: var(--secondary);
    border: none;
  }
  #next-button:hover,
  .responder-button:hover{
    box-shadow: rgba(33, 237, 197, .75) 0px 7px 29px 0px;
  }
  .hide {
    display: none;
  }
  .incorrect {
    background-color: #ffdde0;
    color: #d32f2f;
    border-color: #d32f2f;
  }
  .correct {
    background-color: #dafff8;
    color: var(--text);
    border-color: var(--primary);
  }
  #user-score {
    font-size: 1.5em;
    color: #ffffff;
  }
  .marcado{
    border-color: var(--placeholder);
  }
  .container-mid{
    position: relative;
    margin: 3em 0;
    padding: 1em 1.8em 3.1em;
    background-color: var(--secondary);
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.00);
    transition: box-shadow 200ms ease;
  }
  .desc span {
    display: inline-block;
    background-color: var(--background);
    padding: 5px 15px;
    margin: 5px;
    border-radius: 15px;
    overflow-wrap: break-word;
    max-width: 100%;
  }
  .desc-question{
    width: 100%;
  }
  .desc {
    max-width: 100%;
    overflow: hidden;
  }
  .container-mid:hover{
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
  }
  #sidenav{
    background-color: var(--primary);
    width: 250px;
    height: 100%;
    border-radius: 0 15px 15px 0;
    position: fixed;
  }
  #nav-container{
    width: 250px;
  }
  main{
    display: flex;
  }
  .correct-answer{
    padding: -20px;
    position: absolute;
    right: 50px;
    top: 20%;
    transform: rotate(-30deg);
    background: rgba(33, 237, 197, .7);
    box-shadow: 0 8px 32px 0 rgba(10, 255, 202, 0.7);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 15px;
    animation: appear normal 500ms ease-in-out, resultado 2000ms alternate infinite ease-in-out 500ms;
    transition: top 300ms ease-in-out, padding 150ms ease-in-out;
  }
  .correct-answer svg{
    color: #21EDC5;
    fill: #21EDC5;
    stroke: #21EDC5;
    height: 100px;
    width: auto;
    animation: resultado 1700ms alternate-reverse infinite ease-in-out;
  }
  .wrong-answer svg{
    fill: #fff;
    width: 100px;
    height: auto;
    padding: 20%;
    animation: resultado 1700ms alternate infinite ease-in-out;
  }
  .correct-answer path{
    fill: #ffffff;
    stroke: rgba( 255, 255, 255, 0.18 );

  }

  @keyframes resultado {
    0%{ -webkit-transform: rotate(0deg); transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(30deg); transform: rotate(30deg);}
  }
  @keyframes appear {
    0%{ -webkit-transform: scale(0%); transform: scale(0%);}
    100%{ -webkit-transform: scale(100%); transform: scale(100%);}
  }
  .correct-answer:hover, 
  .wrong-answer:hover{
    top: 15%;
    padding: 15px;
    cursor: pointer;
  }

  .wrong-answer{
    padding: -20px;
    position: absolute;
    left: 50px;
    top: 20%;
    transform: rotate(30deg);
    background: rgba(237, 33, 33, 0.7);
    box-shadow: 0 8px 32px 0 rgba(255, 10, 10, 0.7);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 15px;
    animation: appear normal 500ms ease-in-out, resultado 2000ms alternate infinite ease-in-out 500ms;
    transition: top 300ms, padding 150ms ease-in-out;
  }
  .display-none{
    display: none!important;
  }
  #filtro {
    display: flex;
    justify-content: center;
  }
  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--text);
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
  }
  .page-link:hover {
    background-color: var(--background);
    color: var(--text);
    border-color: var(--secondary);
  }
  .dropdown-item.active {
    color: #22262a;
    background-color: var(--secondary);
  }
  .dropdown-item:active {
    background-color: red;
  }
  .btn-light{
    background-color: var(--background);
    color: var(--text);
    border-color: var(--placeholder);
  }
  .btn-light:hover{
    background-color: var(--secondary);
  }
  .dropdown-menu{
    background-color: var(--background);
  }
  .show>.btn-light.dropdown-toggle{
    background-color: var(--secondary);
  }
  .dropdown-item:hover{
    background-color: var(--secondary);
  }

  .fixed-button-container {
    position: fixed;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 999; 
}

.fixed-button {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 5px 7px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
}

.fixed-button:hover {
    cursor: pointer;
}

#botaofalar {
    background-color: #007bff; /* Cor de fundo padrão */
    margin-top: 7px;
}

#botaofalar.mudarCor {
    background-color: #ff9eda; /* Nova cor de fundo */
}