@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@font-face {
    font-family: trap;
    src: url(../fonts/Trap-Black.otf);
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

header {
    display: flex;
}

#header-container {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    width: 80%;
    display: inline;
}

#header-right-container {
    border-bottom: 5px solid black;
    width: 20%;
    text-align: right;
}

#header-title {
    padding-top: .5em   ;
    vertical-align: middle;
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
}

main{
    width: 100%;
    height: 100%;
    display: block!important;
}

#main-container {
    width: 65%;
}

.main-title {
    width: 100%;
}

#videos-container {
    width: 32%;
    overflow-y: scroll;
}

#video-box {
    background-color: var(--primary);
    height: auto;
    border-radius: 1em;
    border: 5px solid black;
}

/* #videos-list {
    display: flex;
    flex-direction: column;
    background-color: #21EDC5;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    border: 5px solid black;
} */

.video-line {
    display: flex;
    height: 124px;
    padding: 15px 0;
    justify-content: space-between;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    transition: all 300ms;
}

.video {
    background-color: var(--background);
    width: 35%;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
    /* flex: 1 1 auto; */
}

#main-container h1{
    font-family: 'Inter', sans-serif;
}

#logo-header {
    font-family: trap;
    font-size: 4em;
    padding-top: .3em;
    padding-left: 1.3em;
    width: 100%;
}
#logo-title{
    font-family: trap;
    font-size: 4em;
    text-align: center;
    width: 100%;
}

h1{
    font-size: 2.5em;
    font-weight: 600;
    margin: 0;
    padding: .3em;
}

h2{
    font-size: 1.5em;
    font-weight: lighter;
    margin: 0;
}

#login-form{
    height: 100%;
}

#login-form form{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    align-content: center;
    flex-direction: column;
    height: 100%;
}

label{
    font-size: 1.5em;
    width: 100%;
    margin: 20px 0;
}

input{
    width: 100%;
    height: 75px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 15px;
    margin: 5px 0;
    cursor: text;
    font-size: 1em;
    padding: 10px;
    font-weight: lighter;
}

input:focus{
    outline: none;
    border: 2px solid var(--primary);
}

input::placeholder{
    color: rgba(0,0,0,0.3);
}

input[type=submit]{
    background-color: var(--primary);
    font-weight: bolder;
    font-size: 2em;
    border: 2px solid black;
    transition: all 150ms ease-out;
    cursor: pointer;
}

input[type=submit]:hover{
    box-shadow: rgba(33, 237, 197, .75) 0px 7px 29px 0px;
}

.link{
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
}

p{
    font-size: 1.5em;
    margin: 0;
}


#login-sidebg img {
    height: 80%;
    object-fit: cover;
}

#form-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

#flex-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.thumbnail-video{
    object-fit: cover;
    height: 135%;
    width: 100%;
    object-position: 50% -15px;
}

.video-title-box p {
    padding-top: 5px;
}

.video-title-box {
    width: 60%;
    overflow: hidden;
}

.play-select{
    background-color: var(--secondary);
    border-bottom: 2px solid black;
}
#like {
    display: flex;
    width: 20%;
    height: 10%;
}
#heart { 
    margin: 10px;
    position: relative; 
    width: 100px; 
    height: 90px; 
} 

#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: red; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

#heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}
ul {
    border: 1px solid black;
    border-radius: 15px;
    padding-left:0;
    padding-top:0 ;
    padding-bottom: .1em;
}
li {
    padding: .5em;
    margin: 0;
    list-style: none;
    border-bottom: solid 1px rgb(117, 117, 117);
}