@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@font-face {
    font-family: trap;
    src: url(../fonts/Trap-Black.otf);
}

*{
    box-sizing: border-box;
}

body{
    background-color: #21EDC5;
    height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
header {
    display: flex;
}
#header-container {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    width: 80%;
    display: inline;
}
#header-right-container {
    border-bottom: 5px solid black;
    width: 20%;
    text-align: right;
}
#header-title {
    padding-top: .5em   ;
    vertical-align: middle;
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
}
main{
    display: flex;
    padding: 100px;
    background-color: #ecf4f9;
    height: 90%;
}

#main-container {
    width: 65%;
    margin-right: 5em;
}
.main-title {
    font-family: trap;
    font-size: 4em;
    width: 100%;
    padding: .3em;
}

#videos-container {
    width: 30%;
}
#video-box {
    background-color: #21EDC5;
    height: 90%;
    border-radius: 1em;
    border: 5px solid black;
}
#videos-list {
    display: flex;
    flex-direction: column;
    background-color: #21EDC5;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    border: 5px solid black;
}
#video-line {
    height: 10em;
    border-bottom: 5px solid black;
}
.video {
    background-color: #ecf4f9;
    margin: 1em;
    height: 8em;
    width: 40%;
    border-radius: 1em;
    border: 5px solid black;
    
}

#main-container h1{
    font-family: 'Inter', sans-serif;
}

#logo-header {
    font-family: trap;
    font-size: 4em;
    padding-top: .3em;
    padding-left: 1.3em;
    width: 100%;
}
#logo-title{
    font-family: trap;
    font-size: 4em;
    text-align: center;
    width: 100%;
}

h1{
    font-size: 2.5em;
    font-weight: 600;
    margin: 0;
    padding: .3em;
}

h2{
    font-size: 1.5em;
    font-weight: lighter;
    margin: 0;
}

#login-form{
    height: 100%;
}

#login-form form{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    align-content: center;
    flex-direction: column;
    height: 100%;
}

label{
    font-size: 1.5em;
    width: 100%;
    margin: 20px 0;
}

input{
    width: 100%;
    height: 75px;
    background-color: rgba(0,0,0,0);
    border: 1px solid black;
    border-radius: 15px;
    margin: 5px 0;
    cursor: text;
    font-size: 1em;
    padding: 10px;
    font-weight: lighter;
}

input:focus{
    outline: none;
    border: 2px solid black;
}

input::placeholder{
    color: rgba(0,0,0,0.3);
}

input[type=submit]{
    background-color: #21EDC5;
    font-weight: bolder;
    font-size: 2em;
    border: 2px solid black;
    transition: all 150ms ease-out;
    cursor: pointer;
}

input[type=submit]:hover{
    box-shadow: rgba(33, 237, 197, .75) 0px 7px 29px 0px;
}

.link{
    color: #21EDC5;
    text-decoration: underline;
    cursor: pointer;
}

p{
    font-size: 1.5em;
    margin: 0;
}

#login-sidebg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 875px;
    background-color: #ffa0da;
    border-radius: 0 15px 15px 0;
    border: 2px solid black;
    border-left: 0;
    flex: 2;
    overflow: hidden;
}

#login-sidebg img {
    height: 80%;
    object-fit: cover;
}

#form-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}